In [1]:
import sqlite3
import json
import pandas as pd

In [2]:
db = 'database\sqlite_db.sqlite'

conn = sqlite3.connect(db)
conn.row_factory = sqlite3.Row

c = conn.cursor()

In [3]:
table = 'PlayerBios'
query = f'SELECT * FROM {table}'

df = pd.DataFrame(c.execute('SELECT * FROM PlayerBios'))
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0,21042,A.J. Brown,/nfl/aj-brown-fantasy/21042,WR,"6'0""",226,"June 30, 1997 (25)",4th Season,Mississippi,226,6/30/1997,4,2019,2.0,51.0,TEN
1,1,12845,A.J. Green,/nfl/aj-green-fantasy/12845,WR,"6'4""",207,"July 31, 1988 (33)",12th Season,Georgia,207,7/31/1988,12,2011,1.0,4.0,CIN
2,2,16962,AJ Derby,/nfl/aj-derby-fantasy/16962,TE,"6'5""",245,"September 20, 1991 (30)",5th Season,Arkansas,245,9/20/1991,5,2015,6.0,202.0,NE
3,3,21802,AJ Dillon,/nfl/aj-dillon-fantasy/21802,RB,"6'0""",247,"May 2, 1998 (24)",3rd Season,Boston College,247,5/2/1998,3,2020,2.0,62.0,GB
4,4,16116,AJ McCarron,/nfl/aj-mccarron-fantasy/16116,QB,"6'3""",215,"September 13, 1990 (31)",8th Season,Alabama,215,9/13/1990,8,2014,5.0,164.0,CIN

In [4]:
df.columns = list(map(lambda x: x[0], c.description))
df.drop(columns='index', inplace=True)
df.head()

,Player_ID,Name,rel_link,Position,height,weight (lbs),dob_age,experience,college,weight_lbs,dob,exp(y),draft_year,draft_round,draft_pick,draft_team
0,21042,A.J. Brown,/nfl/aj-brown-fantasy/21042,WR,"6'0""",226,"June 30, 1997 (25)",4th Season,Mississippi,226,6/30/1997,4,2019,2.0,51.0,TEN
1,12845,A.J. Green,/nfl/aj-green-fantasy/12845,WR,"6'4""",207,"July 31, 1988 (33)",12th Season,Georgia,207,7/31/1988,12,2011,1.0,4.0,CIN
2,16962,AJ Derby,/nfl/aj-derby-fantasy/16962,TE,"6'5""",245,"September 20, 1991 (30)",5th Season,Arkansas,245,9/20/1991,5,2015,6.0,202.0,NE
3,21802,AJ Dillon,/nfl/aj-dillon-fantasy/21802,RB,"6'0""",247,"May 2, 1998 (24)",3rd Season,Boston College,247,5/2/1998,3,2020,2.0,62.0,GB
4,16116,AJ McCarron,/nfl/aj-mccarron-fantasy/16116,QB,"6'3""",215,"September 13, 1990 (31)",8th Season,Alabama,215,9/13/1990,8,2014,5.0,164.0,CIN

In [5]:
file_location = 'dashboard/static/js/data.js'
df.to_json(file_location, orient='records')

In [6]:
import os
def prepend_line(file_name, line):
    
    # define name of temporary dummy file
    dummy_file = file_name + '.bak'
    # open original file in read mode and dummy file in write mode
    with open(file_name, 'r') as read_obj, open(dummy_file, 'w') as write_obj:
        # Write given line to the dummy file
        write_obj.write(line)
        # Read lines from original file one by one and append them to the dummy file
        for line in read_obj:
            write_obj.write(line)
    # remove original file
    os.remove(file_name)
    # Rename dummy file as the original file
    os.rename(dummy_file, file_name)

In [7]:
line = 'var data = '
prepend_line(file_location, line)