In [1]:
#Import Dependencies
import pandas as pd
import sqlite3
from sqlite3 import Error

In [2]:
# Read in CSVs
position = ['QB', 'RB', 'TE', 'WR']
year = [2018, 2019, 2020, 2021]
df_names =[]
df_list = []

for x in position: 
    pos= x.lower()
    for y in year:
        filename1 = f"advanced-{pos}-metrics{y}.csv"
        filename2 = f"fantasy-{pos}-leaders{y}.csv"
        filepath = f"Resources/{x}_stats/"
        df = f"{pos}_{y}_df"
        df_names.append(f"{df}_extra")
        read_df = pd.read_csv(f"{filepath}{filename1}")
        df_list.append(read_df)
        df_names.append(df)
        read_df = pd.read_csv(f"{filepath}{filename2}")
        df_list.append(read_df)

In [3]:
#Check df names
df_names

['qb_2018_df_extra',
 'qb_2018_df',
 'qb_2019_df_extra',
 'qb_2019_df',
 'qb_2020_df_extra',
 'qb_2020_df',
 'qb_2021_df_extra',
 'qb_2021_df',
 'rb_2018_df_extra',
 'rb_2018_df',
 'rb_2019_df_extra',
 'rb_2019_df',
 'rb_2020_df_extra',
 'rb_2020_df',
 'rb_2021_df_extra',
 'rb_2021_df',
 'te_2018_df_extra',
 'te_2018_df',
 'te_2019_df_extra',
 'te_2019_df',
 'te_2020_df_extra',
 'te_2020_df',
 'te_2021_df_extra',
 'te_2021_df',
 'wr_2018_df_extra',
 'wr_2018_df',
 'wr_2019_df_extra',
 'wr_2019_df',
 'wr_2020_df_extra',
 'wr_2020_df',
 'wr_2021_df_extra',
 'wr_2021_df']

In [4]:
#check data list 
len(df_list)

32

In [5]:
#Add year to each dataframe
for i in range(0,len(df_list)):
    yr = df_names[i][3:7]
    df_list[i]["Year"] = yr

In [35]:
#Check year was added
df_list[1].head()

,Rank,PlayerID,Name,Team,Position,Played,PassingCompletions,PassingAttempts,PassingCompletionPercentage,PassingYards,...,PassingTouchdowns,PassingInterceptions,PassingRating,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,FantasyPointsPerGame,FantasyPoints,Year
0,1,18890,Patrick Mahomes,KC,QB,16,383,580,66.0,5097,...,50,12,113.84,60,272,4.5,2,26.1,417.08,2018
1,2,732,Matt Ryan,ATL,QB,16,422,608,69.4,4924,...,35,7,108.06,33,125,3.8,3,22.1,353.96,2018
2,3,3807,Ben Roethlisberger,PIT,QB,16,452,675,67.0,5129,...,34,16,96.46,31,98,3.2,3,21.3,340.86,2018
3,4,18857,Deshaun Watson,HOU,QB,16,345,505,68.3,4165,...,26,9,103.11,99,551,5.6,5,20.7,331.70,2018
4,5,14008,Andrew Luck,IND,QB,16,430,639,67.3,4593,...,39,15,98.67,46,148,3.2,0,20.4,326.92,2018

In [7]:
#Create empty DF to concatenate position
qb_df = pd.DataFrame()
qb_extra_df = pd.DataFrame()
rb_df = pd.DataFrame()
rb_extra_df = pd.DataFrame()
te_df = pd.DataFrame()
te_extra_df = pd.DataFrame()
wr_df = pd.DataFrame()
wr_extra_df = pd.DataFrame()

In [8]:
#Use coniditionals to concat dataframs
for i in range(0,len(df_list)):
    #Check for QB name
    if df_names[i][:2] == 'qb' and df_names[i][11:] != "extra": 
        qb_df = pd.concat([df_list[i], qb_df], ignore_index=True)
        print(f"index {i} was added to qb")
    elif df_names[i][:2] == 'qb' and df_names[i][11:] == "extra": 
        qb_extra_df = pd.concat([df_list[i], qb_extra_df], ignore_index=True)
        print(f"index {i} was added to qb extra")
    #Check for RB name / Add to DF
    elif df_names[i][:2] == 'rb'and df_names[i][11:] != "extra":
        rb_df = pd.concat([df_list[i], rb_df], ignore_index=True)
        print(f"index {i} was added to rb")
    elif df_names[i][:2] == 'rb' and df_names[i][11:] == "extra": 
        rb_extra_df = pd.concat([df_list[i], rb_extra_df], ignore_index=True)
        print(f"index {i} was added to rb extra")
    #Check for TE name / Add to DF
    elif df_names[i][:2] == 'te' and df_names[i][11:] != "extra": 
        te_df = pd.concat([df_list[i], te_df], ignore_index=True)
        print(f"index {i} was added to te")
    elif df_names[i][:2] == 'te' and df_names[i][11:] == "extra": 
        te_extra_df = pd.concat([df_list[i], te_extra_df], ignore_index=True)
        print(f"index {i} was added to te extra")
    #Check for WR name / Add to DF
    elif df_names[i][:2] == 'wr' and df_names[i][11:] != "extra": 
        wr_df = pd.concat([df_list[i], wr_df], ignore_index=True)
        print(f"index {i} was added to wr")
    elif df_names[i][:2] == 'wr' and df_names[i][11:] == "extra": 
        wr_extra_df = pd.concat([df_list[i], wr_extra_df], ignore_index=True)
        print(f"index {i} was added to wr extra")
    #Check for mistakes
    else:
        print("Uh Oh!")

index 0 was added to qb extra
index 1 was added to qb
index 2 was added to qb extra
index 3 was added to qb
index 4 was added to qb extra
index 5 was added to qb
index 6 was added to qb extra
index 7 was added to qb
index 8 was added to rb extra
index 9 was added to rb
index 10 was added to rb extra
index 11 was added to rb
index 12 was added to rb extra
index 13 was added to rb
index 14 was added to rb extra
index 15 was added to rb
index 16 was added to te extra
index 17 was added to te
index 18 was added to te extra
index 19 was added to te
index 20 was added to te extra
index 21 was added to te
index 22 was added to te extra
index 23 was added to te
index 24 was added to wr extra
index 25 was added to wr
index 26 was added to wr extra
index 27 was added to wr
index 28 was added to wr extra
index 29 was added to wr
index 30 was added to wr extra
index 31 was added to wr

In [9]:
#Quick Check on QBs
qb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         314 non-null    int64
 1   PlayerID                     314 non-null    int64
 2   Name                         314 non-null    object
 3   Team                         314 non-null    object
 4   Position                     314 non-null    object
 5   Played                       314 non-null    int64
 6   PassingCompletions           314 non-null    int64
 7   PassingAttempts              314 non-null    int64
 8   PassingCompletionPercentage  314 non-null    float64
 9   PassingYards                 314 non-null    int64
 10  PassingYardsPerAttempt       314 non-null    float64
 11  PassingTouchdowns            314 non-null    int64
 12  PassingInterceptions         314 non-null    int64
 13  PassingRating                314 non-null    float64
 14  RushingAttempts              314 non-null    int64
 15  RushingYards                 314 non-null    int64
 16  RushingYardsPerAttempt       314 non-null    float64
 17  RushingTouchdowns            314 non-null    int64
 18  FantasyPointsPerGame         314 non-null    float64
 19  FantasyPoints                314 non-null    float64
 20  Year                         314 non-null    object
dtypes: float64(6), int64(11), object(4)
memory usage: 51.6+ KB

In [10]:
#Quick Check on TEs
te_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Rank                        566 non-null    int64
 1   PlayerID                    566 non-null    int64
 2   Name                        566 non-null    object
 3   Team                        566 non-null    object
 4   Position                    566 non-null    object
 5   Played                      566 non-null    int64
 6   ReceivingTargets            566 non-null    int64
 7   Receptions                  566 non-null    int64
 8   ReceptionPercentage         566 non-null    float64
 9   ReceivingYards              566 non-null    int64
 10  ReceivingTouchdowns         566 non-null    int64
 11  ReceivingLong               566 non-null    int64
 12  ReceivingYardsPerTarget     566 non-null    float64
 13  ReceivingYardsPerReception  566 non-null    float64
 14  RushingAttempts             566 non-null    int64
 15  RushingYards                566 non-null    int64
 16  RushingYardsPerAttempt      566 non-null    float64
 17  RushingTouchdowns           566 non-null    int64
 18  Fumbles                     566 non-null    int64
 19  FumblesLost                 566 non-null    int64
 20  FantasyPointsPerGame        566 non-null    float64
 21  FantasyPoints               566 non-null    float64
 22  Year                        566 non-null    object
dtypes: float64(6), int64(13), object(4)
memory usage: 101.8+ KB

In [11]:
#Quick Check on WR
wr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 993 entries, 0 to 992
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Rank                        993 non-null    int64
 1   PlayerID                    993 non-null    int64
 2   Name                        993 non-null    object
 3   Team                        993 non-null    object
 4   Position                    993 non-null    object
 5   Played                      993 non-null    int64
 6   ReceivingTargets            993 non-null    int64
 7   Receptions                  993 non-null    int64
 8   ReceptionPercentage         993 non-null    float64
 9   ReceivingYards              993 non-null    int64
 10  ReceivingTouchdowns         993 non-null    int64
 11  ReceivingLong               993 non-null    int64
 12  ReceivingYardsPerTarget     993 non-null    float64
 13  ReceivingYardsPerReception  993 non-null    float64
 14  RushingAttempts             993 non-null    int64
 15  RushingYards                993 non-null    int64
 16  RushingYardsPerAttempt      993 non-null    float64
 17  RushingTouchdowns           993 non-null    int64
 18  Fumbles                     993 non-null    int64
 19  FumblesLost                 993 non-null    int64
 20  FantasyPointsPerGame        993 non-null    float64
 21  FantasyPoints               993 non-null    float64
 22  Year                        993 non-null    object
dtypes: float64(6), int64(13), object(4)
memory usage: 178.6+ KB

In [12]:
#Quick Check on RBs
rb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    704 non-null    int64
 1   PlayerID                704 non-null    int64
 2   Name                    704 non-null    object
 3   Team                    704 non-null    object
 4   Position                704 non-null    object
 5   Played                  704 non-null    int64
 6   RushingAttempts         704 non-null    int64
 7   RushingYards            704 non-null    int64
 8   RushingYardsPerAttempt  704 non-null    float64
 9   RushingTouchdowns       704 non-null    int64
 10  ReceivingTargets        704 non-null    int64
 11  Receptions              704 non-null    int64
 12  ReceivingYards          704 non-null    int64
 13  ReceivingTouchdowns     704 non-null    int64
 14  Fumbles                 704 non-null    int64
 15  FumblesLost             704 non-null    int64
 16  FantasyPointsPerGame    704 non-null    float64
 17  FantasyPoints           704 non-null    float64
 18  Year                    704 non-null    object
dtypes: float64(3), int64(12), object(4)
memory usage: 104.6+ KB

In [13]:
# #Add position column to each DF
# rb_df["Position"] = "RB"
# qb_df["Position"] = "QB"
# wr_df["Position"] = "WR"
# te_df["Position"] = "TE"

In [14]:
# #Read in Teams DF
# teams_df = pd.read_csv("Resources/Teams.csv", index_col=0)
# teams_df

In [15]:
#Remove unnamed column
# teams_df = teams_df.loc[:, ~teams_df.columns.str.contains('^Unnamed')]

In [16]:
#remove extra rows
# teams_df.dropna(axis = 0, inplace=True)

In [17]:
#Check clean up
# teams_df

In [18]:
#Read in full quick stats
# fullQuickStats = pd.read_csv("Resources/FullPlayerQuickStats.csv")
# fullQuickStats.head()

In [19]:
#Clean Up 
# fullQuickStats = fullQuickStats.loc[:, ~fullQuickStats.columns.str.contains('^Unnamed')]
# fullQuickStats.dropna(axis = 0, inplace=True)

In [20]:
# fullQuickStats.head()

In [21]:
qb_df_copy = qb_df.copy()

In [22]:
qb_df_copy.head()

,Rank,PlayerID,Name,Team,Position,Played,PassingCompletions,PassingAttempts,PassingCompletionPercentage,PassingYards,...,PassingTouchdowns,PassingInterceptions,PassingRating,RushingAttempts,RushingYards,RushingYardsPerAttempt,RushingTouchdowns,FantasyPointsPerGame,FantasyPoints,Year
0,1,19801,Josh Allen,BUF,QB,17,409,646,63.3,4407,...,36,15,92.17,122,763,6.3,6,23.7,402.58,2021
1,2,21681,Justin Herbert,LAC,QB,17,443,672,65.9,5014,...,38,15,97.66,63,302,4.8,3,22.4,380.76,2021
2,3,4314,Tom Brady,TB,QB,17,485,719,67.5,5316,...,43,12,102.08,28,81,2.9,2,22.0,374.74,2021
3,4,18890,Patrick Mahomes,KC,QB,17,436,658,66.3,4839,...,37,13,98.45,66,381,5.8,2,21.3,361.66,2021
4,5,2593,Aaron Rodgers,GB,QB,16,366,531,68.9,4115,...,37,4,111.90,33,101,3.1,3,20.8,332.30,2021

In [23]:
# fullQuickStats = fullQuickStats.rename(columns = {"PlayerID": "PlayerPlayerID"})

Start SQL Imports

In [24]:
#Start SQL connections
con = sqlite3.connect("./sqlite_db.sqlite")

In [25]:
# fullQuickStats.to_sql("QuickStats", con, if_exists="replace")

In [26]:
qb_df.to_sql("QB_Stats", con, if_exists="replace")
qb_extra_df.to_sql("QB_Extra_Stats", con, if_exists="replace")
wr_df.to_sql("WR_Stats", con, if_exists="replace")
wr_extra_df.to_sql("WR_Extra_Stats", con, if_exists="replace")
rb_df.to_sql("RB_Stats", con, if_exists="replace")
rb_extra_df.to_sql("RB_Extra_Stats", con, if_exists="replace")
te_df.to_sql("TE_Stats", con, if_exists="replace")
te_extra_df.to_sql("TE_Extra_Stats", con, if_exists="replace")
#teams_df.to_sql("Teams", con, if_exists="replace")

In [27]:
# cursor = con.cursor()

In [28]:
# # Getting all tables from sqlite_master
# sql_query = """SELECT name FROM sqlite_master WHERE type='table';"""

In [29]:
# # executing our sql query
# cursor.execute(sql_query)
# print("List of tables\n")
    
# # printing all tables list
# print(cursor.fetchall())

In [30]:
# cursor.execute("SELECT * FROM QB_stats AS qbs LEFT JOIN QuickStats AS qs ON qbs.PlayerPlayerID=qs.PlayerPlayerID")
# rows = cursor.fetchall()
# for row in rows:
#     print(row)

In [31]:
# cursor.execute("ALTER TABLE QB_stats RENAME COLUMN PlayerPlayerID to PlayerID")

In [32]:
# merge_qb = "Create table qb_full as (select * from QB_Stats AS qbs left join QuickStats AS qs using qbs.PlayerID = wb.PlayerID)"

In [33]:
# cursor.execute(merge_qb)