In [1]:
#Import Dependencies
import psycopg2
import sqlalchemy
import pandas as pd 
from config import password

In [2]:
# Read in CSVs
position = ['QB', 'RB', 'TE', 'WR']
year = [2018, 2019, 2020, 2021]
df_names =[]
df_list = []

for x in position: 
    pos= x.lower()
    for y in year:
        filename = f"advanced-{pos}-metrics{y}.csv"
        filepath = f"../Resources/{x}_stats/"
        df = f"{pos}_{y}_df"
        df_names.append(df)
        read_df = pd.read_csv(f"{filepath}{filename}")
        df_list.append(read_df)

In [3]:
#Check df names
df_names

['qb_2018_df',
 'qb_2019_df',
 'qb_2020_df',
 'qb_2021_df',
 'rb_2018_df',
 'rb_2019_df',
 'rb_2020_df',
 'rb_2021_df',
 'te_2018_df',
 'te_2019_df',
 'te_2020_df',
 'te_2021_df',
 'wr_2018_df',
 'wr_2019_df',
 'wr_2020_df',
 'wr_2021_df']

In [4]:
#check data list 
len(df_list)

16

In [5]:
#Add year to each dataframe
for i in range(0,len(df_list)):
    yr = df_names[i][3:7]
    df_list[i]["Year"] = yr

In [6]:
#Check year was ed
df_list[1].head()

,Rank,PlayerPlayerId,PlayerShortName,PlayerAgeExact,PassAttemptsPerGame,PassingYards,CompletionPercentage,PassingTouchdowns,Interceptions,MoneyThrows,TouchdownRate,ProtectionRate,PressuredCompletionPercentage,AirYards,AirYardsPerGame,AirYardsPerAttempt,DeepBallAttempts,DeepBallCompletionPercentage,Year
0,1,19781,L. Jackson,25.5,26.7,3127,66.1,36,6,19,9.0,87.3,34.7,1883.0,125.5,4.7,60,33.3,2019
1,2,18055,D. Prescott,28.9,37.2,4901,65.1,30,11,23,5.0,85.8,33.1,3098.0,193.6,5.2,78,48.7,2019
2,3,14536,R. Wilson,33.6,32.2,4111,66.1,31,5,33,6.0,78.2,33.3,2521.0,157.6,4.9,83,39.8,2019
3,4,18857,D. Watson,26.8,33.0,3852,67.3,26,12,24,5.3,84.8,44.8,2284.0,152.3,4.6,81,42.0,2019
4,5,16762,J. Winston,28.5,39.1,5109,60.7,33,30,19,5.3,82.8,37.2,3248.0,203.0,5.2,113,36.3,2019

In [7]:
#Create empty DF to concatenate position
qb_df = pd.DataFrame()
rb_df = pd.DataFrame()
te_df = pd.DataFrame()
wr_df = pd.DataFrame()

In [8]:
#Use coniditionals to concat dataframs
for i in range(0,len(df_list)):
    #Check for QB name
    if df_names[i][:2] == 'qb': 
        qb_df = pd.concat([df_list[i], qb_df], ignore_index=True)
        print(f"index {i} was ed to qb")
    #Check for RB name / Add to DF
    elif df_names[i][:2] == 'rb':
        rb_df = pd.concat([df_list[i], rb_df], ignore_index=True)
        print(f"index {i} was added to rb")
    #Check for TE name / Add to DF
    elif df_names[i][:2] == 'te': 
        te_df = pd.concat([df_list[i], te_df], ignore_index=True)
        print(f"index {i} was added to te")
    #Check for WR name / Add to DF
    elif df_names[i][:2] == 'wr': 
        wr_df = pd.concat([df_list[i], wr_df], ignore_index=True)
        print(f"index {i} was added to wr")
    #Check for mistakes
    else:
        print("Uh Oh!")

index 0 was ed to qb
index 1 was ed to qb
index 2 was ed to qb
index 3 was ed to qb
index 4 was added to rb
index 5 was added to rb
index 6 was added to rb
index 7 was added to rb
index 8 was added to te
index 9 was added to te
index 10 was added to te
index 11 was added to te
index 12 was added to wr
index 13 was added to wr
index 14 was added to wr
index 15 was added to wr

In [9]:
#Quick Check on QBs
qb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           131 non-null    int64
 1   PlayerPlayerId                 131 non-null    int64
 2   PlayerShortName                131 non-null    object
 3   PlayerAgeExact                 131 non-null    float64
 4   PassAttemptsPerGame            131 non-null    float64
 5   PassingYards                   131 non-null    int64
 6   CompletionPercentage           131 non-null    float64
 7   PassingTouchdowns              131 non-null    int64
 8   Interceptions                  131 non-null    int64
 9   MoneyThrows                    131 non-null    int64
 10  TouchdownRate                  131 non-null    float64
 11  ProtectionRate                 131 non-null    float64
 12  PressuredCompletionPercentage  131 non-null    float64
 13  AirYards                       131 non-null    float64
 14  AirYardsPerGame                131 non-null    float64
 15  AirYardsPerAttempt             131 non-null    float64
 16  DeepBallAttempts               131 non-null    int64
 17  DeepBallCompletionPercentage   131 non-null    float64
 18  Year                           131 non-null    object
dtypes: float64(10), int64(7), object(2)
memory usage: 19.6+ KB

In [10]:
#Quick Check on TEs
te_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    116 non-null    int64
 1   PlayerPlayerId          116 non-null    int64
 2   PlayerShortName         116 non-null    object
 3   Targets                 116 non-null    int64
 4   Receptions              116 non-null    int64
 5   ReceivingYards          116 non-null    int64
 6   ReceivingTDs            116 non-null    int64
 7   HogRate                 2 non-null      float64
 8   SnapShare               116 non-null    float64
 9   AverageTargetDistance   116 non-null    float64
 10  AirYards                116 non-null    float64
 11  AirYardsPerGame         116 non-null    float64
 12  AirYardsPerReception    116 non-null    float64
 13  Targets.1               116 non-null    int64
 14  RedZoneTargets          116 non-null    int64
 15  EndzoneTargets          116 non-null    int64
 16  TargetAccuracy          116 non-null    float64
 17  TargetShare             116 non-null    float64
 18  FantasyPointsPerTarget  116 non-null    float64
 19  Year                    116 non-null    object
dtypes: float64(9), int64(9), object(2)
memory usage: 18.2+ KB

In [11]:
#Quick Check on WR
wr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    340 non-null    int64
 1   PlayerPlayerId          340 non-null    int64
 2   PlayerShortName         340 non-null    object
 3   Targets                 340 non-null    int64
 4   Receptions              340 non-null    int64
 5   ReceivingYards          340 non-null    int64
 6   ReceivingTDs            340 non-null    int64
 7   HogRate                 14 non-null     float64
 8   SnapShare               340 non-null    float64
 9   AverageTargetDistance   340 non-null    float64
 10  AirYards                340 non-null    float64
 11  AirYardsPerGame         340 non-null    float64
 12  AirYardsPerReception    340 non-null    float64
 13  Targets.1               340 non-null    int64
 14  RedZoneTargets          340 non-null    int64
 15  EndzoneTargets          340 non-null    int64
 16  TargetAccuracy          340 non-null    float64
 17  TargetShare             340 non-null    float64
 18  FantasyPointsPerTarget  340 non-null    float64
 19  Year                    340 non-null    object
dtypes: float64(9), int64(9), object(2)
memory usage: 53.2+ KB

In [12]:
#Quick Check on RBs
rb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rank                      649 non-null    int64
 1   PlayerPlayerId            649 non-null    int64
 2   PlayerShortName           649 non-null    object
 3   PlayerAgeExact            649 non-null    float64
 4   Carries                   649 non-null    int64
 5   RushingYards              649 non-null    int64
 6   YardsPerCarry             613 non-null    float64
 7   RushingTouchdowns         649 non-null    int64
 8   Targets                   649 non-null    int64
 9   Receptions                649 non-null    int64
 10  ReceivingYards            649 non-null    int64
 11  ReceivingTDs              649 non-null    int64
 12  SnapShare                 649 non-null    float64
 13  OpportunityShare          637 non-null    float64
 14  ShotgunCarryRate          585 non-null    float64
 15  ShotgunYardsPerCarry      576 non-null    float64
 16  UnderCenterCarryRate      585 non-null    float64
 17  UnderCenterYardsPerCarry  603 non-null    float64
 18  AverageDefendersInTheBox  585 non-null    float64
 19  StackedFrontCarryRate     585 non-null    float64
 20  BaseFrontCarryRate        585 non-null    float64
 21  LightFrontCarryRate       585 non-null    float64
 22  Year                      649 non-null    object
dtypes: float64(12), int64(9), object(2)
memory usage: 116.7+ KB

In [13]:
#Add position column to each DF
rb_df["Position"] = "RB"
qb_df["Position"] = "QB"
wr_df["Position"] = "WR"
te_df["Position"] = "TE"

In [14]:
#format columns for psql to lowercase
qb_df.columns= qb_df.columns.str.lower()
rb_df.columns= rb_df.columns.str.lower()
wr_df.columns= wr_df.columns.str.lower()
te_df.columns= te_df.columns.str.lower()

Start SQL Imports

In [15]:
#Start SQL connections
ENDPOINT="fantasyfootball.ckswyhqaro8q.us-east-2.rds.amazonaws.com"
PORT="5432"
USR="DreamTeam"
PSSWD=password
DBNAME="postgres"

#conn_string = "host='localhost' dbname='my_database' user='postgres' password='secret'
con= "postgresql://{}:{}@{}:{}/{}".format(USR, PSSWD, ENDPOINT, PORT, DBNAME)

In [ ]:
#Write dfs to AWS
qb_df.to_sql("qb_stats", con, if_exists="replace")
wr_df.to_sql("wr_stats", con, if_exists="replace")
rb_df.to_sql("rb_stats", con, if_exists="replace")
te_df.to_sql("te_stats", con, if_exists="replace")