In [1]:
#Import Dependencies
import sqlite3
import psycopg2
import sqlalchemy
import pandas as pd 
from sqlalchemy import create_engine
from config import password

In [2]:
#Connection to sqlite db
con = sqlite3.connect('./sqlite_db.sqlite')
cursor = con.cursor()

In [3]:
#grab depth table and put into dataframe
depth_df = pd.DataFrame(pd.read_sql_query(f"select * from DepthCharts", con))

In [4]:
#check dataframe
depth_df.head()

   index team  year position  depth               name
0      0  ARZ  2018      LWR      1   LARRY FITZGERALD
1      2  ARZ  2018       TE      1  Ricky Seals-Jones
2      3  ARZ  2018       QB      1       SAM BRADFORD
3      4  ARZ  2018       FB      1    Derrick Coleman
4      5  ARZ  2018      RWR      1       Brice Butler

In [5]:
#close connection w/ sqlite and start engine for postgres
con.close()

#Create connection to AWS database
ENDPOINT="fantasyfootball.ckswyhqaro8q.us-east-2.rds.amazonaws.com"
PORT="5432"
USR="DreamTeam"
PSSWD=password
DBNAME="postgres"

#conn_string = "host='localhost' dbname='my_database' user='postgres' password='secret'
conp= create_engine("postgresql://{}:{}@{}:{}/{}".format(USR, PSSWD, ENDPOINT, PORT, DBNAME))

In [ ]:
#format columns to lower case for db
depth_df.columns = depth_df.columns.str.lower()

In [ ]:
#Write table to AWS
depth_df.to_sql("depth_chart", conp, if_exists="replace")