In [1]:
#Import Dependencies
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd 
from config import password


#Create connection to AWS database
ENDPOINT="fantasyfootball.ckswyhqaro8q.us-east-2.rds.amazonaws.com"
PORT="5432"
USR="DreamTeam"
PSSWD=password
DBNAME="postgres"

In [5]:
#import csv 
file_path = '../Resources/TableauSheets/'
file = 'top200.csv'
top200_df = pd.read_csv(f'{file_path}{file}')
top200_df.head()

   Unnamed: 0  PlayerID               Name Position  2021_Overall_Rank
0           0     17959      Derrick Henry       RB                  1
1           1     18872        Dalvin Cook       RB                  2
2           2      2593      Aaron Rodgers       QB                  3
3           3     21682    Jonathan Taylor       RB                  4
4           4     16776  Melvin Gordon III       RB                  5

In [2]:
#create connection and open engine 
#con = "host='localhost' dbname='my_database' user='postgres' password='secret'
con= "postgresql://{}:{}@{}:{}/{}".format(USR, PSSWD, ENDPOINT, PORT, DBNAME)
db = create_engine(con)

In [3]:
#grab depth table and put into dataframe
depth_df = pd.DataFrame(pd.read_sql_query(f"select * from DepthCharts", con))

In [4]:
#check dataframe
depth_df.head()

   index team  year position  depth               name
0      0  ARZ  2018      LWR      1   LARRY FITZGERALD
1      2  ARZ  2018       TE      1  Ricky Seals-Jones
2      3  ARZ  2018       QB      1       SAM BRADFORD
3      4  ARZ  2018       FB      1    Derrick Coleman
4      5  ARZ  2018      RWR      1       Brice Butler

In [5]:
#close connection w/ sqlite and start engine for postgres
con.close()

#Create connection to AWS database
ENDPOINT="fantasyfootball.ckswyhqaro8q.us-east-2.rds.amazonaws.com"
PORT="5432"
USR="DreamTeam"
PSSWD=password
DBNAME="postgres"

#conn_string = "host='localhost' dbname='my_database' user='postgres' password='secret'
conp= create_engine("postgresql://{}:{}@{}:{}/{}".format(USR, PSSWD, ENDPOINT, PORT, DBNAME))

In [6]:
#format columns to lower case for db
depth_df.columns = depth_df.columns.str.lower()

In [7]:
#Write table to AWS
depth_df.to_sql("depth_chart", conp, if_exists="replace")