In [8]:
# Import Dependencies
import json
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
from getpass import getpass

In [9]:
#Create connection to AWS database
ENDPOINT="fantasyfootball.ckswyhqaro8q.us-east-2.rds.amazonaws.com"
PORT="5432"
USR="DreamTeam"
PSSWD= getpass('Enter Database Password: ')
DBNAME="postgres"
#conn_string = "host='localhost' dbname='my_database' user='postgres' password='secret'
c = create_engine("postgresql://{}:{}@{}:{}/{}".format(USR, PSSWD, ENDPOINT, PORT, DBNAME))

#c = conn.cursor()

In [10]:
# delcaring the table and bringing it in as a pandas DataFrame
table = input('What is the table that you would like to import? ')
query = f'SELECT * FROM {table}'

df = pd.read_sql(query, c)
df.head()

,fantasy_rank,playerid,name,position,ft_points21,ft_points22,rank22
0,5,2593,Aaron Rodgers,QB,332.30,363.045010,18
1,1,19801,Josh Allen,QB,402.58,335.309528,24
2,2,21681,Justin Herbert,QB,380.76,325.455374,29
3,4,18890,Patrick Mahomes,QB,361.66,321.661286,33
4,3,4314,Tom Brady,QB,374.74,319.622005,35

In [11]:
# saving table as a data.js file for the javascript file to utilize
file_title = input('What would you like to name the file? ')
file_location = f'dashboard/static/js/{file_title}.js'
df.to_json(file_location, orient='records')

In [ ]:
# import os in in order to write to file
import os
# creating a function in order to write and declare javascript variable at beginning of file
def prepend_line(file_name, line):
    
    # define name of temporary dummy file
    dummy_file = file_name + '.bak'
    # open original file in read mode and dummy file in write mode
    with open(file_name, 'r') as read_obj, open(dummy_file, 'w') as write_obj:
        # Write given line to the dummy file
        write_obj.write(line)
        # Read lines from original file one by one and append them to the dummy file
        for line in read_obj:
            write_obj.write(line)
    # remove original file
    os.remove(file_name)
    # Rename dummy file as the original file
    os.rename(dummy_file, file_name)

In [ ]:
# feeding the string to the function and executing the function
line = 'var data = '
prepend_line(file_location, line)